<nav class="navbar navbar-default" ng-init="navCollapsed = true">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="navCollapsed = !navCollapsed" >
                <span class="sr-only">Отвори падащото меню</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref=".collections" class="navbar-brand">Супа от букви</a>
        </div>

        <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li ng-class="{'active' : currentNavState === 'collections'}">
                    <a ui-sref=".collections">Колекции</a>
                </li>
                <li ng-class="{'active' : currentNavState === 'puzzles'}">
                    <a ui-sref=".puzzles">Пъзели</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" uib-dropdown >
                    <button type="button" class="btn btn-success navbar-btn" uib-dropdown-toggle style="background-color: transparent; color: green; margin-right: 10px">
                        Добави
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                        <li>
                            <a ui-sref=".newCollection">
                                <i class="far fa-list-alt"></i>
                                Колекция
                            </a>
                        </li>
                        <li role="menuitem">
                            <a ui-sref=".createPuzzle">
                                <i class="fas fa-cube"></i>
                                Пъзел
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a href="" uib-dropdown-toggle>
                        Учител
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                        <li role="menuitem">
                            <a href="">
                                <i class="fas fa-edit"></i>&nbsp; Профил
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="" ng-click="layout.logOut()">
                                <i class="fas fa-sign-out-alt"></i>&nbsp; Изход
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<ui-view></ui-view>