<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Ученици, решили пъзела</h1>
            </div>
        </div>
    </div>
    <div class="row" ng-if="puzzle.solvers.length === 0">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-warning text-center">
                Никой не е решил пъзела, все още.
            </div>
        </div>
    </div>
    <div class="row" ng-if="puzzle.solvers === undefined">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-info text-center">
                Изтеглят се...
            </div>
        </div>
    </div>
    <div class="row" ng-if="puzzle.error.length > 0">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger">
                {{ puzzle.error }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered no-margin-bottom">
                        <tr>
                            <th>Пъзел</th>
                            <th>Ученик</th>
                            <th>Познати думи</th>
                            <th>Всички думи</th>
                            <th>Дата</th>
                        </tr>
                        <tr ng-repeat="solver in puzzle.solvers">
                            <td>
                                {{puzzle.puzzleTitle}}
                                <small class="text-muted">({{solver.puzzleCode}})</small>
                            </td>
                            <td>{{solver.user}}</td>
                            <td>{{solver.solvedWords}}</td>
                            <td>{{puzzle.allWords}}</td>
                            <td>{{solver.date | date:'medium'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>