<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-top: 15vh">
            <div class="panel panel-default">
                <h1 class="text-center">Вход</h1>
                <div class="panel-body" ng-if="login.render === 'enter'">
                    <div class="form-group">
                        <button type="button" class="btn btn-default btn-block" ng-click="login.setRender('loginForm')">
                            Влез
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default btn-block" ng-click="login.setRender('puzzle')">
                            Реши пъзел
                        </button>
                    </div>
                    <a ui-sref="register" class="text-primary">Регистрация на учителски акаунт</a>
                </div>
                <!-- MAIN LOGIN FORM -->
                <div class="panel-body animated fadeIn" ng-if="login.render === 'loginForm'">
                    <form name="loginForm" novalidate ng-submit="loginForm.$invalid || login.login()">
                        <div class="form-group">
                            <label for="email" class="from-control">Email</label>
                            <input type="email" id="email" class="form-control" ng-model="login.email" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="from-control">Парола</label>
                            <input type="password" id="password" class="form-control" ng-model="login.password" required>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="login.rememberMe"> Запомни ме
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-sign-in-alt"></i>
                                Вход
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-block" ng-click="login.setRender('enter')">
                                <i class="fas fa-arrow-left"></i>
                                Обратно
                            </button>
                        </div>
                    </form>
                </div>
                <!-- PUZZLE CODE VALIDATION INPUT -->
                <div class="panel-body animated fadeIn" ng-if="login.render === 'puzzle'">
                    <form novalidate>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Въведете кода на пъзела" pattern="^[a-zA-Z0-9]*$">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default btn-block">Генерирай</button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-block" ng-click="login.setRender('enter')">
                                <i class="fas fa-arrow-left"></i>
                                Обратно
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>