<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div>
                <h1 class="text-center">Вход</h1>
            </div>
            <form novalidate>
                <div class="form-group">
                    <label for="email" class="from-control">Email</label>
                    <input type="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password" class="from-control">Парола</label>
                    <input type="password" id="password" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Вход</button>
                </div>
                <div class="form-group">
                    <a ui-sref="solve" class="btn btn-default btn-block">Реши пъзел</a>
                </div>
                <a ui-sref="register">Регистрация на учителски акаунт</a>
            </form>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4"></div>
    </div>
</div>