<div class="container-fluid">
    <!-- MAIN FORM -->
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <h1>Регистрация</h1>
            <form novalidate>
                <div class="form-group">
                    <label for="name">Име</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="lname">Фамилия</label>
                    <input type="text" class="form-control" id="lname">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="password">Парола</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="form-group">
                    <label for="rpassword">Повторете паролата</label>
                    <input type="password" class="form-control" id="rpassword">
                </div>
                <div class="form-group">
                    <label for="subj">Предмет</label>
                    <input type="text" class="form-control" id="subj">
                    <small class="form-text text-muted">пр. Английски| Испански| т.н.</small>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Регистрация">
                </div>
            </form>
            <a ui-sref="login">Към началната страница</a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4"></div>
    </div>
</div>