<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Реши пъзел
					<span class="text-muted">{{ solve.puzzleCode }}</span>
				</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Брой думи в пъзела:
						<span class="label label-info">{{ solve.numberOfWords }}</span>
					</p>
					<p>Брой познати думи:
						<span class="label label-success">{{ solve.correctWords }}</span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Използвай това поле, ако пъзела не работи:</p>
					<span class="input-group">
						<input type="text" class="form-control" placeholder="Дума от пъзела">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default">Добави</button>
						</div>
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<button type="button" class="btn btn-success btn-lg btn-block">
						Завърши пъзела
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12"><hr></div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table table-bordered no-margin-bottom no-selection">
						<tr ng-repeat="row in solve.puzzle track by $index">
							<td
							class="text-center"
							ng-class="{'incorrect-word': word.incorrect === true, 'correct-word': word.incorrect === false}"
							ng-repeat="word in row track by $index"
							ng-mousedown="solve.onWordClick(word.letter, $index, $parent.$index)"
							ng-mouseenter="solve.onWordEnter(word.letter, $index, $parent.$index)"
							ng-mouseup="solve.onWordUp(word.letter, $index, $parent.$index)">
								{{word.letter}}
							</td>
						</tr>
					</table>
				</div>
			</div>
			<!-- <table style="border: 2px solid gray; margin-bottom: 20px">
				<tr ng-repeat="row in solve.puzzle">
					<td style="font-size: 1.7em; padding: 0 10px; background-color:#94a0a0; border: 1px solid; color: white" ng-repeat="word in row track by $index">{{word}}</td>
				</tr>
			</table> -->
		</div>
	</div>
	<!-- <div class="row" ng-repeat="row in solve.puzzle track by $index" style="border: 1px solid">
		<div class="col-md-1" ng-repeat="word in row track by $index">
			<div class="panel panel-default">
				<div class="panel-body">
					{{word}}
				</div>
			</div>
		</div>
	</div> -->
	<!-- <div class="row" ng-if="solve.puzzle">
		<div class="col-md-10 col-md-offset-1">
			<puzzle matrix="solve.puzzle" word-model="solve.selectedWord" was-correct="solve.isWordCorrect"></puzzle>
		</div>
	</div> -->
</div>