<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>Реши пъзела</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>Име: <span class="label label-primary">{{ solve.puzzleTitle }}</span></h4>
					<h4>Код: <span class="label label-default">{{ solve.puzzleCode }}</span></h4>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>Думи в пъзела: <span class="badge">{{ solve.numberOfWords }}</span></h4>
					<h4>Познати думи: <span class="badge">{{ solve.correctWords }}</span></h4>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<!-- <div class="panel panel-default">
				<div class="panel-body">
					<p>Използвай това поле, ако пъзелът не работи:</p>
					<span class="input-group">
						<input type="text" class="form-control" placeholder="Дума от пъзела">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default">Добави</button>
						</div>
					</span>
				</div>
			</div> -->
		</div>
		<div class="col-md-3 col-md-offset-5">
			<div class="panel panel-default">
				<div class="panel-body text-center">
					<div class="btn-group-vertical btn-group-lg">
						<button type="button" class="btn btn-success" ng-click="solve.submitPuzzle()">
							<i class="far fa-share-square"></i>
							Завърши пъзела
						</button>
						<a ui-sref="login" class="btn btn-default">
							<i class="fas fa-home"></i>
							Към началната страница
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-hide="solve.correctWords === solve.numberOfWords">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default no-selection">
				<div class="panel-body">
					<table class="table table-bordered no-margin-bottom no-selection">
						<tr ng-repeat="row in solve.puzzle track by $index">
							<td class="text-center letter" ng-repeat="letter in row track by $index" width="10px"
							ng-class="{'selected-letter': letter.selected, 'correct-letter': letter.correct}"
							ng-mousedown="solve.onWordClick(letter)" ng-mouseenter="solve.onWordEnter(letter)" ng-mouseup="solve.onWordUp(letter)">
								{{letter.letter}}
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="solve.correctWords === solve.numberOfWords && solve.puzzle !== undefined">
		<div class="col-md-6 col-md-offset-3">
			<div class="alert alert-success">
				Поздравления, намерихте всички думи!
				<a href="" class="alert-link" ng-click="solve.submitPuzzle()">Предай пъзела</a>
			</div>
		</div>
	</div>
</div>